// MOBILE SEARCH
.m-search(data-name="mobile-search")
  .m-search__head
    .m-search__clear(js-reset-mobile-search) Сбросить
    .m-search__head-title Поиск
    .m-search__close(js-close-mobile)
      +icon('ico-close')
  .m-search__wrapper()
    form(action="#").m-search__form
      // categories
      .m-search__categories
        label категория недвижимости
        .m-search__categories-wrap(js-scrollbar data-y-disable="true")
          .m-search__category
            input(type="radio" name="category" id="category_1" checked)
            label(for="category_1")
              span Дом
          .m-search__category
            input(type="radio" name="category" id="category_2")
            label(for="category_2")
              span Таунхаус
          .m-search__category
            input(type="radio" name="category" id="category_3")
            label(for="category_3")
              span Участок
      
      // price
      .m-search__price
        label цена
        .m-search__price-wrap
          .m-search__price-set 
            span(js-range-from) 0 
            |  - 
            span(js-range-to) 50 000 000
          div(js-rangeslider 
              data-start-from="0"
              data-start-to="35000000"
              data-step="100000"
              data-range-min="0"
              data-range-max="50000000"
              )
              
      // keywords
      .m-search__keywords
        label ПОИСК ПО КЛЮЧЕВЫМ СЛОВАМ
        .ui-group.ui-group--search
          input(type="text" placeholder="Название" js-autocomplete data-url="json/cities.json")
          +icon('ico-search')
          
      .m-search__cta
        button(type="submit").btn.btn-primary найти
