---
title: Search
pageClass: 
---
extends shared/_layout

block header
  include components/_header-search
  
block content
  
  // SEARCH
  .search
    .container
      .search__wrapper
        
        // sidebar
        .search__sidebar
            
          form(action="#" js-search-form).search__form
            .search__name Фильтры
            .search__sidebar-actions
              a(href="#" js-search-reset).search__reset сбросить
              a(href="#" js-search-apply).btn.btn-outline применить
              
            //slider group
            .slider-group
              label Цена
              .slider-group__wrap
                .slider-group__set 
                  span(js-range-from) 0 
                  |  — 
                  span(js-range-to) 50 000 000
                div(js-rangeslider 
                    data-start-from="0"
                    data-start-to="35000000"
                    data-step="100000"
                    data-range-min="0"
                    data-range-max="50000000")

            
            //slider group
            .slider-group
              label Участок (сот.)
              .slider-group__wrap
                .slider-group__set 
                  span(js-range-from) 0 
                  |  — 
                  span(js-range-to) 300
                div(js-rangeslider 
                    data-start-from="0"
                    data-start-to="7"
                    data-step="1"
                    data-range-min="0"
                    data-range-max="15")
                                                  
            //slider group
            .slider-group
              label км от МКАД
              .slider-group__wrap
                .slider-group__set 
                  span(js-range-from) 0 
                  |  — 
                  span(js-range-to) 300
                div(js-rangeslider 
                    data-start-from="0"
                    data-start-to="35"
                    data-step="1"
                    data-range-min="0"
                    data-range-max="35")
            
          
        // content
        .search__content
          .search__name Участки в Новой Москве
          .search__filter
            .search__filter-scope результаты поиска: 132
            .search__mobile-toggles
              a(href="#" js-open-mobile data-target="mobile-filter").btn.btn-primary Фильтры
              a(href="#" js-open-mobile data-target="mobile-sorting").btn.btn-outline
                +icon('ico-arrow-right')
                +icon('ico-arrow-right')
            
            .search__filter-select
              select(js-selectric js-search-filter).bordered
                option цена: возрастание
                option цена: убывание
                option другой пункт
            
          .search__grid
            // col
            // blank col to be populated
            //- .search__col
            //-   .h-card.is-loading
            //-     .h-card__images.swiper-wrapper(js-hotCard-slider)
            //-       .swiper-wrapper
            //- 
            //-       .h-card__images-next
            //-         +icon('ico-arrow-right')
            //-       .h-card__images-prev
            //-         +icon('ico-arrow-left')
            //-     .h-card__content
            //-       .h-card__info 
            //-         span 
            //-         span 
            //-         span 
            //-       a(href="property.html").h-card__name 
            //-       .h-card__addres 
            //-       .h-card__price 

            // col
            .search__col
              .h-card.is-loading
                .h-card__images.swiper-wrapper(js-hotCard-slider)
                  .swiper-wrapper
                    .h-card__image
                      img(src='img/productImage_1.jpg' srcset='img/prodcutImage_1@2x.jpg 2x')
                    .h-card__image
                      img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                  .h-card__images-next
                    +icon('ico-arrow-right')
                  .h-card__images-prev
                    +icon('ico-arrow-left')
                .h-card__content
                  .h-card__info 
                    span 325 кв. м
                    span 8 сот.
                    span 4 сп.
                  a(href="property.html").h-card__name Дом “под ключ” в КП “Лесные Поляны”
                  .h-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
                  .h-card__price 12,900,000<span>₽</span>
                  
            // col 2
            .search__col
              .h-card.is-loading
                .h-card__images.swiper-wrapper(js-hotCard-slider)
                  .swiper-wrapper
                    .h-card__image
                      img(src='img/productImage_3.jpg' srcset='img/prodcutImage_3@2x.jpg 2x')
                    .h-card__image
                      img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                  .h-card__images-next
                    +icon('ico-arrow-right')
                  .h-card__images-prev
                    +icon('ico-arrow-left')  
                .h-card__content
                  .h-card__info 
                    span 325 кв. м
                    span 8 сот.
                    span 4 сп.
                  a(href="property.html").h-card__name Дом у озера под отделку в д. Лужки
                  .h-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
                  .h-card__price 12,900,000<span>₽</span>

            // col 3
            .search__col
              .h-card.is-loading
                .h-card__images.swiper-wrapper(js-hotCard-slider)
                  .swiper-wrapper
                    .h-card__image
                      i(href='https://www.youtube.com/watch?v=0TV4V1VNNTY' js-popupVideo).icon.icon-play
                      img(src='img/productImage_4.jpg' srcset='img/prodcutImage_4@2x.jpg 2x')
                    .h-card__image
                      i(href='https://www.youtube.com/watch?v=0TV4V1VNNTY' js-popupVideo).icon.icon-play
                      img(src='img/productImage_4.jpg' srcset='img/prodcutImage_4@2x.jpg 2x')
                  .h-card__images-next
                    +icon('ico-arrow-right')
                  .h-card__images-prev
                    +icon('ico-arrow-left')

                .h-card__content
                  .h-card__info 
                    span 325 кв. м
                    span 8 сот.
                    span 4 сп.
                  a(href="property.html").h-card__name Дом с мебелью и баней в КП «ВауТутинки»
                  .h-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
                  .h-card__price 12,900,000<span>₽</span>
                  .h-card__tag
                    .h-card__exclusive эксклюзив

            // col
            .search__col
              .h-card.is-loading
                .h-card__images.swiper-wrapper(js-hotCard-slider)
                  .swiper-wrapper
                    .h-card__image
                      img(src='img/productImage_1.jpg' srcset='img/prodcutImage_1@2x.jpg 2x')
                    .h-card__image
                      img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                  .h-card__images-next
                    +icon('ico-arrow-right')
                  .h-card__images-prev
                    +icon('ico-arrow-left')
                .h-card__content
                  .h-card__info 
                    span 325 кв. м
                    span 8 сот.
                    span 4 сп.
                  a(href="property.html").h-card__name Дом “под ключ” в КП “Лесные Поляны”
                  .h-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
                  .h-card__price 12,900,000<span>₽</span>
                  
            // col 2
            .search__col
              .h-card.is-loading
                .h-card__images.swiper-wrapper(js-hotCard-slider)
                  .swiper-wrapper
                    .h-card__image
                      img(src='img/productImage_3.jpg' srcset='img/prodcutImage_3@2x.jpg 2x')
                    .h-card__image
                      img(src='img/productImage_2.jpg' srcset='img/prodcutImage_2@2x.jpg 2x')
                  .h-card__images-next
                    +icon('ico-arrow-right')
                  .h-card__images-prev
                    +icon('ico-arrow-left')  
                .h-card__content
                  .h-card__info 
                    span 325 кв. м
                    span 8 сот.
                    span 4 сп.
                  a(href="property.html").h-card__name Дом у озера под отделку в д. Лужки
                  .h-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
                  .h-card__price 12,900,000<span>₽</span>

            // col 3
            .search__col
              .h-card.is-loading
                .h-card__images.swiper-wrapper(js-hotCard-slider)
                  .swiper-wrapper
                    .h-card__image
                      i(href='https://www.youtube.com/watch?v=0TV4V1VNNTY' js-popupVideo).icon.icon-play
                      img(src='img/productImage_4.jpg' srcset='img/prodcutImage_4@2x.jpg 2x')
                    .h-card__image
                      i(href='https://www.youtube.com/watch?v=0TV4V1VNNTY' js-popupVideo).icon.icon-play
                      img(src='img/productImage_4.jpg' srcset='img/prodcutImage_4@2x.jpg 2x')
                  .h-card__images-next
                    +icon('ico-arrow-right')
                  .h-card__images-prev
                    +icon('ico-arrow-left')

                .h-card__content
                  .h-card__info 
                    span 325 кв. м
                    span 8 сот.
                    span 4 сп.
                  a(href="property.html").h-card__name Дом с мебелью и баней в КП «ВауТутинки»
                  .h-card__addres Калужское шоссе, 14 км от МКАД, пос. Первомайское, п. Лужки
                  .h-card__price 12,900,000<span>₽</span>
                  .h-card__tag
                    .h-card__exclusive эксклюзив

          // pagination
          .pagination
            .pagination__scope 11-20 из 132
            .pagination__list
              li.pagination__prev
                a(href="#")
                  +icon('ico-arrow-left')
                  span предыдущая
              li
                a(href="#") 1
              li.is-active
                a(href="#") 2
              li
                a(href="#") 3
              li.pagination__last
                a(href="#") 
                  span следующая
                  +icon('ico-arrow-right')
          
          // text section
          .page-information
            .page-information__paragraph
              .page-information__paragraph-head
                h3 Почему покупать дом в Новой Москве?
                +icon('ico-arrow-right')
              .page-information__paragraph-drop
                p Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
            .page-information__paragraph
              .page-information__paragraph-head
                h3 Дома в Новой Москве
                +icon('ico-arrow-right')
              .page-information__paragraph-drop
                p Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
            .page-information__paragraph
              .page-information__paragraph-head
                h3 Особенности Новой Москвы
                +icon('ico-arrow-right')
              .page-information__paragraph-drop
                p Спрос на недвижимость в Новой Москве (территориях, включенных в состав столицы в 2012 году) неуклонно продолжает расти. Многоэтажные и малоэтажные жилые комплексы, таунхаусы и коттеджные поселки активно возводятся на землях между Киевским, Калужским и Симферопольским шоссе. При этом стоимость такого жилья остается заметно более доступной, по сравнению с недвижимостью Старой Москвы. Всё больше и больше людей обращают внимание на недавно присоединенные районы и рассматривают различные варианты недвижимости. В данной статье мы обсудим основные факторы, которые следует изучить при покупке или строительстве частного дома в Новой Москве.
              

  // MOBILE POPUPS LIKE
  // MOBILE SEARCH
  .m-search.m-search--left.m-search--filter(data-name="mobile-filter")
    .m-search__head
      .m-search__clear(js-reset-mobile-filter) Сбросить
      .m-search__head-title Фильтры
      .m-search__close(js-close-mobile)
        +icon('ico-close')
    .m-search__wrapper()
      form(action="#").m-search__form
        // keywords
        .m-search__keywords
          label Ищите по расположению или особенности объекта.
          //- .ui-group.ui-group--search
          //-   input(type="text" placeholder="Название" js-autocomplete data-url="json/cities.json")
          //-   +icon('ico-search')
          // parent container for search hints and tags logic
          .hints.hints--mobile.hints--with-bg(js-search-container data-url="/test")
            +icon('ico-search')
            input(type="text" placeholder="Можете добавить условие. Например, “гараж” или “д. Ватутинки”." js-search-hints)
            .hints__suggestions(js-search-tags)
            include components/_search-hints-mobile
          
        //slider group
        .slider-group
          label Цена
          .slider-group__wrap
            .slider-group__set 
              span(js-range-from) 0 
              |  — 
              span(js-range-to) 50 000 000
            div(js-rangeslider 
                data-start-from="0"
                data-start-to="35000000"
                data-step="100000"
                data-range-min="0"
                data-range-max="50000000")

        //slider group
        .slider-group
          label Участок (сот.)
          .slider-group__wrap
            .slider-group__set 
              span(js-range-from) 0 
              |  — 
              span(js-range-to) 300
            div(js-rangeslider 
                data-start-from="0"
                data-start-to="7"
                data-step="1"
                data-range-min="0"
                data-range-max="15")
                                  
        //slider group
        .slider-group
          label км от МКАД
          .slider-group__wrap
            .slider-group__set 
              span(js-range-from) 0 
              |  — 
              span(js-range-to) 300
            div(js-rangeslider 
                data-start-from="0"
                data-start-to="35"
                data-step="1"
                data-range-min="0"
                data-range-max="35")
            
        .m-search__cta
          button(type="submit").btn.btn-primary показать все предложения (20)


  // MOBILE SORTING
  .m-search(data-name="mobile-sorting")
    .m-search__head
      .m-search__clear(js-reset-mobile-filter) Сбросить
      .m-search__head-title Сортировка
      .m-search__close(js-close-mobile)
        +icon('ico-close')
    .m-search__wrapper()
      form(action="#").m-search__form

        // categories
        .m-search__categories
          label по цене
          .m-search__categories-wrap(js-scrollbar data-y-disable="true")
            .m-search__category
              input(type="radio" name="sorting" id="sorting_1" checked)
              label(for="sorting_1")
                span Возрастание
            .m-search__category
              input(type="radio" name="sorting" id="sorting_2")
              label(for="sorting_2")
                span Убывание

        // categories
        .m-search__categories
          label по дате добавления
          .m-search__categories-wrap(js-scrollbar data-y-disable="true")
            .m-search__category
              input(type="radio" name="sorting" id="sorting_3")
              label(for="sorting_3")
                span Сначала новые
            .m-search__category
              input(type="radio" name="sorting" id="sorting_4")
              label(for="sorting_4")
                span Сначала старые
                
        .m-search__cta
          button(type="submit").btn.btn-primary Применить
